{# templates/register/_step2.html.twig #}
{% include 'components/_flashes.html.twig' %}
<div data-controller="form" data-form-url-value="{{ path('register_step2') }}">
  {{ form_start(form, { attr: { 'data-action': 'submit->form#submit', 'class': 'needs-validation', 'novalidate': 'novalidate' } }) }}
    <div class="form-group">
      {{ form_widget(form) }}
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <button type="button" data-action="click->form#back" data-back-url="{{ path('register_step1') }}" class="btn btn-primary">Back</button>
      </div>
      <div>
        <button type="submit" data-form-target="submit" class="btn btn-primary mt-3">Next</button>
      </div>
    </div>
  {{ form_end(form) }}
</div>
